{% extends "index.html" %}
{% block title %}
客车票查询
{% endblock %}
{% block center %}
<link rel="stylesheet" href="/static/css/train.css" />
<style>
::-webkit-datetime-edit-fields-wrapper { background-color: #eee; }
::-webkit-datetime-edit-text {padding: 0 .3em; }
::-webkit-inner-spin-button {visibility: hidden; }
::-webkit-calendar-picker-indicator{width:10px;height:10px;border: 1px solid #ccc;border-radius: 2px;
    box-shadow: inset 0 1px #fff, 0 1px #eee;background-color: #eee;color: #666;}
</style>
<div class="mid">

<div class="cplace">

<div class="check">

<div class="chetop">
<div class="topword" style="FONT-SIZE: 15pt;  COLOR: #202020; FONT-FAMILY: 黑体">
<strong><p>客车查询</p></strong>
</div>
</div>
   
<script type="text/javascript">
$(document).ready(function() {
	$("#empty").hide();
	$("#init").show();
	$("#error").hide();
	$("#search").click(function() {
	   var start = $("#start").val();
	   var terminus = $("#terminus").val();
	   var date = $("#time").val();
	   $.ajax({
	   		url: "{% url 'ajax_get_bus' %}", 
	   		dataType: "json",
	   		Type: "GET",
	   		timeout: 2000,
	   		data:{
	   			'start': start, 
	   			'terminus': terminus, 
	   			'date': date
	   			}, 
	   		success: function(result) {
	   			$("#items").empty();
				$("#init").hide();
				$("#empty").hide();
				$("#error").hide();
				if(typeof(result.searching) != "undefined" && typeof(result.error) != "undefined") {
					if(result.searching == "true") {
						$("#empty").show();
					}
					if(result.error == "true") {
						$("#error").show();
					}
					return;
				}
				else{
				var i = 0;
				$.each(result, function(key, value) {
					$("#items").append("<tr>"+"<td>"+value.fields.serial+"</td>"+
										"<td>"+value.fields.departure.substr(11,5)+"</td>"+
										"<td>"+value.fields.last+":00"+"</td>"+
										"<td>"+value.fields.price+"</td>"+
										"<td>"+value.fields.quantity+"</td>"+
										"<td><input id='pay"+i+"' type='button' value='预定' onmouseover='this.style.cursor='pointer''/></td>"+
									"</tr>");
					var serial = ""+value.fields.serial;
					$("#pay"+i).click(function() {
						window.location.href="/ticket/pay/?serial=" + serial;
					});
					i = i + 1;
				});}
			},
			error: function(result)
			{
				$("#error").empty();
				$("#error").text("发生未知错误，请刷新重试！！！")
				$("#error").show();
			}
	   });
	   return false; // no refresh!
	});
});
</script>    
<form action="" method="get">
<div class="start">

<div class="startword" style="FONT-SIZE: 11pt;  COLOR: #000000; FONT-FAMILY: 宋体">
<strong><p>出发地</p></strong>
</div>

<div class="startinput">
<input class="mouseout" id="start" type="text"  placeholder=始发站...  onmousemove="this.className='mousemove'"  
                       onmouseout="this.className='mouseout'"/>
</div>

</div>

<div class="arrive">

<div class="startword" style="FONT-SIZE: 11pt;  COLOR: #000000; FONT-FAMILY: 宋体">
<strong><p>目的地</p></strong>
</div>

<div class="startinput">
<input class="mouseout" id="terminus" type="text"  placeholder=终点站...  onmousemove="this.className='mousemove'"  
                       onmouseout="this.className='mouseout'"/>
</div>

</div>

<div class="date">

<div class="startword" style="FONT-SIZE: 11pt;  COLOR: #000000; FONT-FAMILY: 宋体">
<strong><p>出发日</p></strong>
</div>

<div class="startinput">
<input class="mouseout" id="time" type="date" onmousemove="this.className='mousemove'"   onmouseout="this.className='mouseout'"/>
</div>

</div>

<div class="button">
<input type="button" value="查询" id="search" class="checkon" onmouseover="this.style.cursor='pointer'"
       onmousemove="this.className='checkou'"  onmouseout="this.className='checkon'"/>       
</div>
</form>

</div>

<div class="icon">
</div>

</div>

<div class="list">

<div class="listtop">
<div class="before">
<input type="button" value="前一日" class="beforeon" onmouseover="this.style.cursor='pointer'"
       onmousemove="this.className='beforeou'"  onmouseout="this.className='beforeon'"/>  
</div>
<div class="after">
<input type="button" value="后一日" class="beforeon" onmouseover="this.style.cursor='pointer'"
       onmousemove="this.className='beforeou'"  onmouseout="this.className='beforeon'"/>  
</div>
</div>

<div class="truelist">
<table class="zebra">
		<thead>
        	<tr>
				<th>班次</th>
				<th>出发时间</th>
				<th>历时</th>
                <th>票价</th>
                <th>数量</th>
                <th>操作</th>
            </tr>
		</thead>
		<tbody id="items">
        </tbody>
</table>
<strong id="empty" style="margin-left:40px;">暂无指定参数的班次，请试试其他！</strong>
<strong id="init" style="margin-left:40px;">请在左边输入您的出发地，目的地，及出发日期！</strong>
<strong id="error" style="margin-left:40px;">输入格式不正确！！</strong>
</div>

</div>

</div>
{% endblock %}