{% extends "index.html" %}
{% block title %}
联系我们
{% endblock %}
{% block center %}

<style>

hr.cutline-top{border: 0;border-bottom: 1px dashed #7B7B7B;background: #FDFDFD;width:100%;}
hr.cutline-mid{border: 0;border-bottom: 1px dashed #7B7B7B;background: #FDFDFD;width:90%;}

p.titlename{float:right;margin-top:5px;FONT-SIZE: 20pt;FONT-FAMILY: 楷体;color:#272727;}
p.membername{float:left;margin-top:5px;FONT-SIZE: 15pt;FONT-FAMILY: 楷体;color:#272727;}
p.membercontent{float:left;FONT-SIZE: 11pt;FONT-FAMILY: 新宋体;color:#272727;margin-top:5px;}

div.member{position:relative;float:top;height:150px;width:670px;margin-left:37px;}

div.mid{position:relative;height:415px;width:760px;margin-top:10px;margin-left:220px;
        border-radius: 2px;border: 20px solid #F3F3F3;overflow:auto;
	    box-shadow:0px 2px 15px 5px #cccccc;}
div.midname{position:relative;float:left;height:100px;width:160px;margin-top:20px;margin-right:20px;}
div.midline{position:relative;float:left;height:30px;width:400px;margin-top:10px;margin-left:30px;}
div.midlinetop{position:relative;float:left;height:30px;width:400px;margin-top:20px;margin-left:30px;}
div.lineright{position:relative;float:right;height:30px;width:330px;}

</style>


<div class="mid">

<hr class="cutline-top">

<div class="member">

<div class="midname"><p class="titlename">贺长鸿</p></div>
<div class="midlinetop">
<div class="lineright"><p class="membercontent">18844546273</p></div>
<p class="membername">手机：</p>
</div>
<div class="midline">
<div class="lineright"><p class="membercontent">961950442</p></div>
<p class="membername">Q Q  ：</p>
</div>
<div class="midline">
<div class="lineright"><p class="membercontent">961950442@qq.com</p></div>
<p class="membername">邮箱：</p>
</div>

</div>

<hr class="cutline-mid">

<div class="member">
<div class="midname"><p class="titlename">南萌</p></div>
<div class="midlinetop">
<div class="lineright"><p class="membercontent">13379520824</p></div>
<p class="membername">手机：</p>
</div>
<div class="midline">
<div class="lineright"><p class="membercontent">1240066979</p></div>
<p class="membername">Q Q  ：</p>
</div>
<div class="midline">
<div class="lineright"><p class="membercontent">1240066979@qq.com</p></div>
<p class="membername">邮箱：</p>
</div>

</div>

<hr class="cutline-mid">

<div class="member">
<div class="midname"><p class="titlename">武铭</p></div>
<div class="midlinetop">
<div class="lineright"><p class="membercontent">18844546440</p></div>
<p class="membername">手机：</p>
</div>
<div class="midline">
<div class="lineright"><p class="membercontent">709529365</p></div>
<p class="membername">Q Q  ：</p>
</div>
<div class="midline">
<div class="lineright"><p class="membercontent">709529365@qq.com</p></div>
<p class="membername">邮箱：</p>
</div>

</div>

<hr class="cutline-mid">

<div class="member">
<div class="midname"><p class="titlename">孟祥志</p></div>
<div class="midlinetop">
<div class="lineright"><p class="membercontent">13174454452</p></div>
<p class="membername">手机：</p>
</div>
<div class="midline">
<div class="lineright"><p class="membercontent">1214343862</p></div>
<p class="membername">Q Q  ：</p>
</div>
<div class="midline">
<div class="lineright"><p class="membercontent">1214343862@qq.com</p></div>
<p class="membername">邮箱：</p>
</div>

</div>

<hr class="cutline-top">

</div>
{% endblock %}
