<!doctype html>
<html>

<head>

<meta charset="utf-8">

<title>{% block title %}5036 购票中心{% endblock %}</title>

<link rel = "Shortcut Icon"  href="/static/images/logo.png" />
<link rel = "stylesheet" href = "/static/css/frame.css" />
<link rel = "stylesheet" href="/static/css/user.css" />

<script type="text/javascript">
function deleteDisplay()
{
    var divD = document.getElementById("regone");
        divD.style.display = "none";
}
function opendisplay()
{
    var divD = document.getElementById("regone");
        divD.style.display = "block";
}

</script>

<script type="text/javascript">
function delDisplay()
{
    var divD = document.getElementById("onone");
        divD.style.display = "none";
}
function opedisplay()
{
    var divD = document.getElementById("onone");
        divD.style.display = "block";
}

</script>

<script type="text/javascript">
function busDisplay(bustop)
{
    var divD = document.getElementById("bustop");
        divD.style.display = "none";
}
function busdisplay(bustop)
{
    var divD = document.getElementById("bustop");
        divD.style.display = "block";
}

</script>

</head>


<body style="background-image:url(/static/images/back1.jpg);background-repeat:no-repeat">


<div id="regone" style="display:block; border:5px solid#ffffff">

<div class="dele">
<input type="button"  style="border:0px solid #ffffff; background:url(/static/images/dele.png);background-size:cover;width:30px; 
                             height:30px;"  onclick="deleteDisplay()"  onmouseover="this.style.cursor='pointer'"/>
</div>


<div class="remand" style="FONT-SIZE: 20pt;  COLOR: #000000; FONT-FAMILY: 华文楷体">
<strong><p>注册账户</p></strong>
</div>

<form action="" method="post">
<div class="rename">
<input class="nameout" type="text"  name="username" value="{{ info.username }}"  placeholder=用户名...  onmousemove="this.className='namemove'"  onmouseout="this.className='nameout'"/>
{{ form.username.errors }}
</div>

<div class="phone">
<input class="nameout" type="text"  name="email" placeholder=邮箱... value="{{ info.email }}" onmousemove="this.className='namemove'"  
                       onmouseout="this.className='nameout'"/>
{% if form.email.errors %}{{ form.email.errors }}{% endif %}
</div>

<div class="repass">
<input class="nameout" type="password"  name="password" placeholder=密码... onmousemove="this.className='namemove'"  
                       onmouseout="this.className='nameout'"/>
{% if form.password.errors %}{{ form.password.errors }}{% endif %}
</div>

<div class="passagain">
<input class="nameout" type="password"  name="repassword" placeholder=确认密码...  onmousemove="this.className='namemove'"	onmouseout="this.className='nameout'"/>
{% if form.repassword.errors %}{{ form.repassword.errors }}{% endif %}
</div>

<div class="code">
<input class="nameout" type="text"  name="diag_input" placeholder=验证码...  onmousemove="this.className='namemove'"  onmouseout="this.className='nameout'"/>
{% if show or error %}<ul class="errorlist"><li>*验证码错误</li></ul>{% endif %}
</div>
<img id="diag" onclick="this.setAttribute('src','/account/diag_code?nocache='+Math.random());" alt="diag_code" src="/account/diag_code?nocache" style="float: left; margin-left: 100px;"/>

<div class="rebutton">
<input type="submit" value="注册" class="fion" onmousemove="this.className='fiou'" onmouseout="this.className='fion'" onmouseover="this.style.cursor='pointer'" style="float: left; margin-left: -200px; "/>
<input type="hidden" name="next" value="{{ next_sign_up|escape }}" />
</div>
</form>

</div>


<div id="onone" style="display:none; border:5px solid#ffffff">

<div class="dele">
<input type="button"  style="border:0px solid #ffffff; background:url(/static/images/dele.png);background-size:cover;width:30px; 
                             height:30px;"  onclick="delDisplay()"  onmouseover="this.style.cursor='pointer'"/>
</div>

<form action="{% url "sign_in" %}" method="post">
<div class="onname">
<input class="nameout" type="text"  placeholder=用户名/邮箱...  onmousemove="this.className='namemove'"  
                       onmouseout="this.className='nameout'"/>
</div>
<div class="onpass">
<input class="nameout" type="password"  placeholder=密码...  onmousemove="this.className='namemove'"  
                       onmouseout="this.className='nameout'"/>
</div>

<div class="onbutton">
<input type="submit" value="登录" class="onon" onmousemove="this.className='onou'"  
                     onmouseout="this.className='onon'"   onmouseover="this.style.cursor='pointer'"/>
</div>
</form>

</div>


<div class="top">

<div class="tit">
<a  class="title"  href="{% url "index" %}"><img src="/static/images/logo.png" width="50" height="40" /></a>
</div>

<div class="slo" style="FONT-SIZE: 15pt;  COLOR: #000000; FONT-FAMILY: 华文楷体">
<strong><p>5036 购票中心，您出行的最佳助手</p></strong>
</div>

{% if not user.is_authenticated %}
<div class="ton">
<input type="button" value="登录" class="onon" onmouseover="this.style.cursor='pointer'"
       onclick="opedisplay()"  onmousemove="this.className='onou'"  onmouseout="this.className='onon'"/>
</div>

<div class="reg">
<input type="button" value="注册" class="fion" onmouseover="this.style.cursor='pointer'"
       onclick="opendisplay()"  onmousemove="this.className='fiou'"  onmouseout="this.className='fion'"/>
</div>
{% else %}
<div id="person">
<a style="text-decoration: none;" href="{% url 'personalize' %}"><img style="margin-right: 3px; vertical-align: middle;" src="{% url 'user_avatar' %}" width="30" height="30"/>
</a><label>{{ user.username }}</label>
&nbsp;&nbsp;&nbsp;&nbsp;<a id="sign_out" href="{% url "sign_out" %}">注销</a>
</div>
{% endif %}

</div>


<HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" 
           width="100%" color=#ff0000 SIZE=2>

{% block center %}
<div class="mid">

<div class="bus">

<input type="button"  style="border:5px ridge#3333cc"  class="busback" onmouseover="this.style.cursor='pointer'"
onclick="window.location.href='{% url "bus_business" %}'"       
       onmousemove="this.className='bustop'"  onmouseout="this.className='busback'"/>

</div>

<div class="fly">

<input type="button"  style="border:5px ridge#3333cc"  class="flyback" onmouseover="this.style.cursor='pointer'"
onclick="window.location.href='{% url "fly_business" %}'"       
       onmousemove="this.className='flytop'"  onmouseout="this.className='flyback'"/>

</div>

<div class="tra">

<input type="button"  style="border:5px ridge#3333cc"  class="traback" onmouseover="this.style.cursor='pointer'"
	   onclick="window.location.href='{% url "train_business" %}'"
       onmousemove="this.className='tratop'"  onmouseout="this.className='traback'"/>
       
</div>

</div>
{% endblock %}

<HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" 
           width="100%" color=#ff0000 SIZE=3>


<div class="base">
<div class="about">

<div style="FONT-SIZE:12pt; FONT-FAMILY:华文楷体">
<a class="word"  style="color: #cccccc;" href="{% url 'aboutus' %}">关于我们</a>
</div>
</div>

<div class="lineone">
<table height="20" style="border-color:000000;border-left-style:solid;border-width:1px">
<td valign=top>
</td>
</table>
</div>

<div class="connect">
<div style="FONT-SIZE:12pt; FONT-FAMILY:华文楷体">
<a class="word"  style="color: #cccccc;" href="{% url 'contact' %}">联系我们</a>
</div>
</div>

<div class="linetwo">
<table height="20" style="border-color:000000;border-left-style:solid;border-width:1px">
<td valign=top>
</td>
</table>
</div>

<div class="question">
<div style="FONT-SIZE:12pt; FONT-FAMILY:华文楷体">
<a class="word"  style="color: #cccccc;" href="{% url 'feedback' %}" onclick="this.setAttribute('href','{% url 'feedback' %}'+'?nocache='+Math.random());">问题反馈</a>
</div>
</div>
</div>

</body>

</html>
