#!/usr/bin/python
import sys
import client 
import traceback

def main():
    argv = sys.argv
    cl = client.Client()
    status = 0
    try:
        if len(argv) > 2:
            print "[MSG] Too many arguments."
        else:
            if argv[1] == "start":
                status = cl.start()
            elif argv[1] == "stop":
                status = cl.stop()
            elif argv[1] == "check":
                status = cl.check()
            else:
                pass
    except SystemExit as e:
        if e.code == 0:
            pass
        else:
            traceback.print_exc()
    except Exception:
        traceback.print_exc()
        cl.put2log(sys.exc_info())
        print "[WARNING] Get a problem, you can report it to 'sevenhe2015@gmail.com' or do yourself!!"
    else:
        # For more fatal problems in future.
        if status == 1:
            pass 
        elif status == 4:
            print "[MSG] Stop operation failed."
        elif status == 5:
            print "[MSG] Stop operation completed."
        elif status == 11:
            print "[MSG] Check is successful."

# Do not sys.exit to prevent a bad feeling which is the terminal broken output.

if __name__ == "__main__":
    main()
