#!/usr/bin/python
import sys
import client 
import traceback

def main():
    argv = sys.argv
    cl = client.Client()
    status = 0
    try:
        if len(argv) > 2:
            print "[Alert] Too many arguments."
        else:
            if argv[1] == "start":
                cl.start()
            if argv[1] == "check":
                status = cl.check()
            else:
                pass
    except:
        traceback.print_exc()
        print "[WARNING] You can report any problem to 'sevenhe2015@gmail.com' or do yourself!!"
    else:
        if status == 1:
            print "[INFO] Connection is successful!"

if __name__ == "__main__":
    main()
